<div class="wrapper clearfix">
  <div class="block_left">
    <p>
      <%= thumb_link document.file_url(:thumb), document.file_url, 200 %>
    </p>
  </div>
  <div class="block_right">
    <p>Name: <%= document.name %></p>
    <p>Author: <%= document.author %></p>
    <p>Date: <%= document.date.to_era if document.date %></p>
    <p>Created at: <%= document.created_at.to_era %></p>
    <p>Updated at: <%= document.updated_at.to_era %></p>
    <p>Content: <%= simple_format document.content %></p>
  </div>
</div>
<%= form_for document, url: '/main/' + document.id.to_s, remote: true do |f| %>
  <p><i class="material-icons">loop</i><b>Update file</b></p>
  <p><%= f.file_field :file %></p>
  <p><i class="material-icons">playlist_add</i><b>Add Binder</b></p>
  <p><%= f.collection_select :binder_id, @binders, :id, :title %></p>
  <div class="action">
   <%= f.submit class: 'btn waves-effect waves-light' %>
  </div>
<% end %>
<p><i class="material-icons">delete</i><b>Delete Document</b></p>
<%= link_to 'Delete',  document, method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'btn waves-effect waves-light red', id: 'delete_button' %>

<script>
  $('#document_binder_id').material_select();
</script>
