<%= link_to image_tag(document.file_url(:thumb)), document.file_url %>
<p>Name: <%= document.name %></p>
<p>Author: <%= document.author %></p>
<p>Date: <%= document.date %></p>
<p>Created at: <%= document.created_at %></p>
<p>Updated at: <%= document.updated_at %></p>
<p>Content: <%= document.content %></p>
