<div class="wrapper clearfix">
  <div class="block_left">
    <p>
      <%= thumb_link document.file_url(:thumb), document.file_url %>
    </p>
  </div>
  <div class="block_right">
    <p>Name: <%= document.name %></p>
    <p>Author: <%= document.author %></p>
    <p>Date: <%= document.date.to_era if document.date %></p>
    <p>Created at: <%= document.created_at.to_era %></p>
    <p>Updated at: <%= document.updated_at.to_era %></p>
    <p>Content: <%= simple_format document.content %></p>
  </div>
</div>
<%= form_for document, url: '/main/' + document.id.to_s, remote: true do |f| %>
  <p><i class="material-icons">loop</i><b>Update file</b></p>
  <%= f.file_field :file %>
  <p><i class="material-icons">playlist_add</i><b>Add Binder</b></p>
  <%= f.collection_select :binder_id, @binders, :id, :title, include_blank: true %>
  <%= f.submit class: 'btn waves-effect waves-light' %>
<% end %>
<p><i class="material-icons">delete</i><b>Delete Document</b></p>
<%= link_to 'Delete',  document, method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'btn waves-effect waves-light red', id: 'delete_button' %>

<script>
  $('select').material_select()
</script>
