<div class="navbar-fixed">
  <nav>
    <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'Create Binder', '', id: 'create_binder' %></li>
    <li><%= link_to 'Destroy Binder', '', id: 'destroy_binder' %></li>
    </ul>
    <div class="nav-wrapper">
      <%= link_to 'Document Box', '/' %>
      <%= select_tag :binder, options_from_collection_for_select(@binders, :id, :title, @binder_id), class:"browser-default" %>
      <%= label_tag :binder, 'Select Binder' %>
    </form>
    <ul class="right hide-on-med-and-down">
      <li><button id="enable" class="waves-effect waves-light btn">Edit Enable/Disable</button></li>
      <li><a class="dropdown-button" href="" data-activates="dropdown1">Binders</a></li>
    </ul>
  </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
     <div id="listing_upload"></div>
     <table id="files" class="border" data-source="<%= current_path %>">
       <thead>
         <tr>
           <th>Label</th>
           <th>Name</th>
           <th>Author</th>
           <th>Date</th>
           <th>Content</th>
           <th></th>
           <th></th>
         </tr>
       </thead>
       <tbody> 
       </tbody>
     </table>
    </div>
  </div>
</div>

<div class="display_none">
 <div id="dialog" title="Information"></div>
 
 <div id="binder_create_form">
  <%= form_for Binder.new, url: '/binder/create' , remote: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit 'Create Binder', class: 'btn waves-effect waves-light' %>
  <% end %>
 </div>

 <div id="binder_destroy_form">
  <%= form_tag '/binder/destroy',method: :delete, remote: true do |f| %>
    <p>
      <%= label_tag :title, 'select a binder to destroy' %>
      <%= collection_select :binder, :binder_id, @binders, :id, :title %>
    </p>
    <%= submit_tag 'Destroy Binder',data: { confirm: 'Are you sure?' }, class: 'btn waves-effect waves-light' %>
  <% end %>
 </div>
 
 <div id="upload">
   <%= form_for Document.new, url: '/main/create', multiple: true do |f| %>
     <%= f.file_field :file %>
     <%= f.hidden_field :binder_id, value: @binder_id %>
   <% end %>
 </div>
</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
